@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', serif;
  font-size: 1rem;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #FDF6EC;
}
.menu-toggle{
  display: none;
}

header{
  position: fixed;
  width: 100%;
  background-color: #021212;
  display: flex;
  align-items: center;
  padding: 0 65px;
  justify-content: space-between;
  z-index: 1000;
  
}

nav{
  display: flex;  
}

ul{
  display: flex;
  gap: 40px;
}

li, a{
  list-style: none;
  text-decoration: none;
  color: #FDF6EC;
}

a:hover{
  color: #bbb;
}

.img-logo{
  height: 60px;
}

button{
  background-color: #25D365;
  color: #021212;
  border-radius: 50px;
  border-style: none;
  width: 90px;
  height: 30px;
}

button:hover{
  background-color: #44f284;
}

.home{
  height: 100vh;
  background-color: #021212;
  background-image: url('../img/home-background2.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 65px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 50% 50%;
}

h1 {
  grid-column: 1 / 2;
  grid-row: 1;
  color: #fff;
  font-size: 5.6rem;
  padding: 120px 0px 0px 64px;
  font-weight: 300;
  max-width: 518px;
  position: relative; /* Agora é relativo para o ::after */
}

h1::after {
  content: '.';
  color: #44f284;
  font-size: 210px;
  font-family: 'Fira Sans', serif;
  position: absolute;
  bottom: 0px; /* Ajuste a distância conforme necessário */
  left: 100%; /* Coloca o ponto no final do texto */
  transform: translateX(-100%);
  bottom: -20px; /* Ajuste conforme necessário */
}




h1 > strong {
  font-size: 5.6rem;
}

.p-white{
  color: #fff;
  padding: 180px 100px 0px 64px;
  font-size: 1.4rem;
  grid-column: 1 / 2;
  grid-row: 2 ;
}

.p-white strong{
  color: #fff;
  font-size: 1.42rem;
}

h2{
  font-size: 3rem;
  text-align: center;
  font-family: 'Fira Sans', serif;
}

.container-img{
  grid-column: 2/3;
  grid-row: 1/3;
  max-width: 500px;
  display: flex;
  justify-self: end;
  align-items: end;
  padding-right: 65px;
}

.img-home{
  max-width: 100%;
}

.portifolio{
  padding: 90px 64px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  margin-bottom: 100px;
}

.small-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  max-width: 400px;
  margin: 64px 10px;
  border: 1px solid #F6E9D9;
  border-radius: 8px;
  justify-self: center;
}


.icon-card{
  width: 50px;
}

h4{
  font-size: 1.5rem;
}

.small-card p{
  color: #666;
}

/* .card-container-larger{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.large-card{
  justify-self: center;
  height: auto;
  padding: 39px 46px;
  max-width: 100%;
}

.lcard01{
  background-image: url('../img/bg-excel.svg');
  background-repeat: no-repeat;
  grid-column: 1/2;
  max-width: 100%;
}
.lcard02{
  background-image: url('../img/bg-bi.svg');
  background-repeat: no-repeat;
  grid-column: 2/3;
  max-width: 100%;
}

h3{
  font-size: 2.3rem;
  color: #fff;
}

.p-white-card{
  color: white;
  padding-top: 24px;
  font-size: 1.3rem;
}

.excel-img{
  width: 450px;
  padding-top: 100px;
}
.bi-img{
  width: 380px;
  padding-top: 100px;
  padding-left: 20px;
} */
.card-container-larger {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Garante duas colunas iguais */
  gap: 40px; /* Espaçamento entre os cards */
  max-width: 100%; /* Garante que o container não ultrapasse a tela */
  /* overflow: hidden; Impede vazamentos visuais */
}

.large-card {
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: start;
  height: 680px; /* Altura fixa */
  padding: 39px 46px;
  max-width: 100%; /* Garante que respeite o tamanho do grid */
  /* box-sizing: border-box; Inclui padding dentro das dimensões */
  border-bottom-left-radius: 16px;  
  border-bottom-right-radius: 16px;
  
}

.lcard01 {
  background-image: url('../img/bg-excel.svg');
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta o background para preencher o card */
}

.lcard02 {
  background-image: url('../img/bg-bi.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.large-card img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o card */
  height: auto; /* Mantém a proporção da imagem */
  padding-top: 50px;
}

.large-card > h3{
  color: #FDF6EC;
}

.p-white-card {
  color: white;
  padding-top: 24px;
  font-size: 1.3rem;
}
h3{
  font-size: 2.3rem;
  color: #fff;
}

.about-me{
  position: relative;
}

.author{
  /* position: absolute; */
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.author-mobile{
  display: none;
}

.about-me > h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #bbb;
  z-index: 1;
  top: 40px;
}

.screen{
  position: absolute;
  left: 64px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 60%;
  
}

.text-about-me{
  position: absolute;
  z-index: 2;
  left: 104px;
  font-size: calc(0.03 * 60vw); /* Baseado no tamanho da screen */
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  color: #bbb;
  line-height: 1.2em; /* Menor espaçamento entre linhas */
}

.text-about-me-mobile{
  display: none;
}

.realce-title{
  color: #16FB30;
  font-size: calc(0.03 * 60vw); /* Baseado no tamanho da screen */
}

.realce{
  color: #CFDA56;
  font-size: calc(0.03 * 60vw); /* Baseado no tamanho da screen */
}

.about-work>h2{
 margin-top: 100px;
 margin-bottom: 20px;
}
.container-work {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #CFDA56;
  height: 420px;
  max-width: 750px;
  margin-left: auto;
  margin-right: 64px;
  margin-bottom: -140px; /* Faz com que suba 40px sobre o footer */
  z-index: 2; /* Mantém acima do footer */
}

.carousel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;

}

.carousel > p {
  font-size: 1rem;
  color: #555;
  text-align: left;
  height: 200px;
  display: flex;
  align-items: center;
}

.carousel-controls {
  display: flex;
 align-self: flex-end;
}

img#prev-btn {
  margin-right: 12px;
}


img#prev-btn:hover {
  filter: brightness(0) invert(80%); /* Muda a cor para cinza claro */
  opacity: 0.5; /* Torna o SVG semitransparente */

}


footer{
  background-color: #021212;
  height: 330px;
  display: flex;
  align-items: end;
  /* position: absolute; */
  width: 100%;
 
}

.container-footer{
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 20px;
  align-content: end;
  align-items: center;
  width: 100%;

}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
    height: 85px;
  }

  .img-logo{
    height: 60px;
  }

  .menu-toggle {
    display: block;
    background: none;
    background-color: none;
    font-size: 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #023212;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
  }

  .menu.open {
    display: flex;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
    background-size: contain;
    background-position-y: 361px;
    height: 550px;
  }

  h1 {
    font-size: 2rem;
    padding: 80px 20px 0;
    margin: 0 auto;
  }
  h1 > strong{
    font-size: 2rem;
  }
  h1:after{
    display: none;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.2rem;
  }

  h4{
    font-size: 1rem;
  }

  p{
    font-size: 0.8rem;
  }

  .p-white-card{
    font-size: 0.8rem;
  }

  .p-white {
    font-size: 1rem;
    padding: 20px;
  }

  .p-white > strong{
    font-size: 1rem;

  }

  .card-container{
    margin-bottom: 50px;
  }

  .screen{
    display: none;
  }

  .container-img {
    display: none; /* Esconde a imagem para otimizar o espaço */
  }

  .card-container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .small-card {
    margin: 20px auto;
    width: 90%;
  }

  .card-container-larger {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .large-card {
    height: auto;
    text-align: center;
  }

  .author{
    display: none;
  }

  .portifolio {
    padding: 69px 20px;
}

  .author-mobile{
    display: block;
    width: 100%;
  }

  .about-me > h2 {
    font-size: 1.5rem;
    top: 20px;
  }

  .screen {
    left: 10%;
    max-width: 80%;
  }

  .text-about-me-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 45px;
    padding: 20px;
    color:#bbb;
    font-weight: 500;
  }

  .container-about-me{
    position: relative;
  }

  .text-about-me{
    display: none;
  }

  .container-work p{
    font-size: 0.75rem;
  }

  .container-work h3{
    font-size: 1rem;
  }

  img#prev-btn, img#next-btn{
    width: 35px;
  }

  .text-about-me {
    left: 20px;
    font-size: 1rem;
  }

  .container-footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .container-footer > img{
  display: none;
  }

  ul{
    display: flex;
    flex-direction: row;
  }

  footer {
    height: 300px;
    padding: 20px 0;
  }

  .contact-me{
    display: none;
  }
  
    button, button:hover{
      background: none;
    }
}
